.contentContainer {
  width: 500px;
  max-width: 98%;
  left: 2%;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1em;
  cursor: pointer;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 6px 6px 20px 1px rgba(0, 0, 0, 0.37);
  animation: 1s linear 5s forwards running hideItem,
    1s linear 0s forwards running showItem;
  display: flex;
  margin: 0 auto;
}
@keyframes hideItem {
  to {
    opacity: 0;
  }
}
@keyframes showItem {
  to {
    opacity: 1;
  }
}
.continueText {
  font-size: 1.3em;
  color: #32a4a7;
}
.play {
  z-index: 0;
  height: 80px;
  width: 80px;
  opacity: 0.5;
  margin-left: -20px;
}
.link {
  position: relative;
  z-index: 1;
}
.title {
  font-size: 1em;
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
