.contentContainer {
  position: relative;
  padding-left: 5%;
  background-color: rgba(0, 0, 0, 0.2);
}
.title {
  padding-top: 51px;
  font-size: 2.3em;
  margin: 0;
  margin-bottom: 20px;
}
.filtersSection {
  display: flex;
  gap: 10px;
  font-weight: bold;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.filterText {
  margin-right: 30px;
  color: #32a4a7;
}
.filterOption {
  padding: 11px;
  background-color: rgb(19, 23, 25);
  border: 0;
  border-radius: 10px;
  color: #32a4a7;
  font-size: 1em;
  font-family: 'Libre Baskerville', serif;
}
.filterOption.isActive {
  background: #32a4a7;
  color: black;
}
.audioSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
}
.audioSection::-webkit-scrollbar {
  display: none;
}
.audioSection p {
  margin: 0;
}
.audioStatusContainer {
  border-radius: 20px;
  padding: 20px;
  margin-right: 70px;
}
.authorAndAlbum,
.songInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;
}
.authorAndAlbum {
  margin-top: 20px;
}
.author,
.album {
  color: #32a4a7;
}
@media screen and (max-width: 735px) {
  .audioStatusContainer {
    font-size: 1.3em;
    height: unset;
    border-radius: 10px;
    margin-right: 15px;
  }
  .authorAndAlbum,
  .songInfo {
    font-size: 1.3em;
  }
  .audioSection {
    margin-top: 10px;
  }
  .album {
    max-width: 50%;
    margin-right: -100px;
  }
  .filterOption {
    font-size: 1.3em;
  }
}
