.contentContainer {
  position: relative;
  padding-left: 70px;
}
.title {
  padding-top: 51px;
  font-size: 32px;
  margin: 0;
}
.filtersSection {
  display: flex;
  gap: 15px;
  font-weight: bold;
  align-items: center;
  flex-wrap: wrap;
}
.filterText {
  margin-right: 30px;
  color: #32a4a7;
}
.filterOption {
  padding: 11px 30px;
  background: #0000009d;
  border: 0;
  border-radius: 10px;
  color: #32a4a7;
  font-size: 18px;
  font-family: 'Libre Baskerville', serif;
}
.filterOption.isActive {
  background: #32a4a7;
  color: black;
}
.audioSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 32px;
  list-style: none;
  padding: 0;
  padding-bottom: 20px;

  margin: 0;
}
.audioSection::-webkit-scrollbar {
  display: none;
}
.audioSection p {
  margin: 0;
}
.audioStatusContainer {
  background-color: 1px solid #0000009d;
  border-radius: 20px;
  padding: 20px;
  margin-right: 70px;
  height: 103px;
  font-size: 24px;
}
.authorAndAlbum,
.songInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  font-size: 18px;
}
.author,
.album {
  color: #32a4a7;
}
