.contentContainer {
  min-width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 5% 0;
  box-sizing: border-box;
}
.title {
  padding: 0 5%;
  margin: 0;
  color: #c7ffea;
  font-size: 2.78em;
}
.iconsContainer {
  padding: 40px 5%;
  display: flex;
  gap: 14px;
  color: #c7ffea;
}
.twitterIcon,
.gitHubIcon {
  height: 40px;
  width: 40px;
}
.creatorName {
  padding: 0 5%;
  color: #c7ffea;
  font-size: 1em;
}
