.background {
  position: fixed;
  top: 0;
  left: 0;
  scroll-behavior: smooth;
  z-index: 0;
}

.img {
  max-height: 100vh;
  min-width: 100vw;
}

.loading {
  background: linear-gradient(90deg, rgb(13, 20, 26), rgb(63, 73, 74));
  border-radius: 5px;
  animation: gradientAnimation 1s ease infinite;
  background-size: 200% 200%;
  color: rgba(0, 0, 0, 0);
  width: fit-content;
}

.times {
  position: relative;
  padding-left: 5%;
  font-size: 1.5em;
}

.buddhaOutLine {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}
.buddhaStroke {
  fill: none;
  stroke: #32a4a7;
  transition: stroke-dashoffset 200ms ease-out;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-dasharray: 10 20;
}

.contentContainer {
  padding-top: 2%;
  min-height: 100vh;
}

.header {
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title {
  color: #c7ffea;
  margin: 0;
  font-weight: bold;
  font-size: 2.78em;
  flex: 1;
}
.appInfo {
  color: #c7ffea;
  margin: 10px 0;
  font-size: 1.3em;
}
.body {
  margin-top: 79px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #ffffff;
  font-size: 1.3em;
  position: relative;
  padding: 0 5%;
  align-items: flex-start;
}
.lessonsLink,
.reasonLink,
.codeLink,
.creditsLink {
  flex: 0 0;
  transition: padding 100ms ease-out;
}
.lessonsLink:hover,
.reasonLink:hover,
.codeLink:hover,
.creditsLink:hover {
  color: #32a4a7;
  padding-left: 5px;
}
.footer {
  position: absolute;
  bottom: 5%;
  right: 30px;
}
.imgsContainer {
  display: flex;
  gap: 32px;
}
.sun {
  animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
  50% {
    opacity: 0.3;
  }
}
@media screen and (max-width: 735px) {
  .title {
    font-size: 1.78em;
  }
  .buddha {
    transform: translateX(-70vw);
  }
  .footer {
    position: absolute;
    bottom: 5%;
    left: 30px;
  }
  .buddhaStroke {
    stroke-width: 3px;
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
