.contentContainer {
  padding-top: 52px;
  min-height: 100%;
  background: url(/_next/image?url=%2Fhome-img.png&w=1920&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 720px) {
  .contentContainer {
    background-image: url(/_next/image?url=%2Fhome-img.png&w=640&q=80);
  }
}
.header {
  padding: 0 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title {
  color: #c7ffea;
  margin: 0;
  font-weight: bold;
  font-size: 48px;
  flex: 1;
}
.appInfo {
  color: #c7ffea;
  margin: 10px 0;
  font-size: 18px;
}
.body {
  margin-top: 79px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #ffffff;
  font-size: 18px;
  position: relative;
  padding: 0 70px;
}
.lessonsLink:hover,
.reasonLink:hover,
.codeLink:hover,
.creditsLink:hover {
  color: #32a4a7;
}
.footer {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.imgsContainer {
  display: flex;
  gap: 32px;
}
