.contentContainer {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 2% 5%;
}
.title {
  margin: 0;
}
.reason {
  max-width: 620px;
  height: 48px;
}

.playerContainer {
  position: relative;
  width: 70px;
  height: 70px;
  transform-origin: top;
  transition: all 1.2s ease;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Libre Baskerville', serif;
  margin-top: 1%;
}
.playerContainer.isPlayed {
  width: 600px;
  height: 600px;
  max-width: calc(100% - 20px);
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

.progress {
  fill: none;
  stroke-width: 4;
  stroke: #a85a5d;
  transform: rotate(270deg);
  transform-origin: center center;
  stroke-dasharray: 760;
  stroke-dashoffset: calc(756 - (756 * var(--currentProgress)));
  stroke-linecap: round;
}

.playPauseButton {
  animation: appear 100ms ease-in forwards;
  fill: #a85a5d;
  opacity: 0;
}
.speedButton {
  top: -70px;
  border: none;
  min-height: 50px;
  background: none;
  min-width: 50px;
  font-size: 1.2em;
  font-style: italic;
  color: #a85a5d;
  position: relative;
  animation: delay 1s ease-out;
}
@keyframes delay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
