.contentContainer {
  min-height: 100%;
  background: url(/buddha-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.title {
  margin: 0;
  padding: 50px 70px;
}
.reason {
  width: 620px;
  height: 48px;
  padding: 0 70px;
}
.audioContainer {
  background-color: #fffffffa;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-clip: content-box;
}

.audioContainer.isPlayed {
  left: 0;
  top: 0;

  border: 15px solid rgba(0, 0, 0, 0);
}

.playPauseIconContainer {
  border: 0;
  background: 0;
}
.playIcon {
  color: #102914;
  width: 50px;
  height: 50px;
}
.pauseIcon {
  width: 150px;
  height: 150px;
  color: #102914;

}

.playerContainer {
  position: relative;
  margin-left: 5%;
  width: 70px;
  height: 70px;
  transform-origin: top;
  transition: all 1.2s ease;
}
.playerContainer.isPlayed {
  margin-top: 0;
  width: 600px;
  height: 600px;
}
.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  transform: rotate(270deg);
}
.svg.isPlayed {
  visibility: visible;
  animation: visible 1.35s ease;
}
@keyframes visible {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.svg circle {
  fill: none;
  stroke-width: 5;
  stroke: #32afc3;
  transform: translate(5px, 5px);
  stroke-dasharray: 760;
  stroke-dashoffset: 760;
}

.svg circle:nth-child(1) {
  stroke-dashoffset: calc(760 - (760 * var(--currentProgress)));
  stroke: #a85a5d;
}
.progress {
  stroke-linecap: round;
}
