.dropdown {
  font-size: 15px;
  background-color: rgb(19, 23, 25);
  color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  color: #32a4a7;
  font-family: 'Libre Baskerville', serif;
}

@media screen and (max-width: 735px) {
  .dropdown {
    font-size: 12px;
  }
}
