.dropdown {
  font-size: 1em;
  background-color: rgb(19, 23, 25);
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  color: #32a4a7;
  font-family: 'Libre Baskerville', serif;
}

@media screen and (max-width: 735px) {
}
